.App {
  text-align: center;
  background-color: aquamarine;
  width: 100%;
  margin: 0 auto;
  height: 500px;
}

.links {
  width: 50%;
  background-color: aqua;
  margin: 0 auto;
}

li {
  display: inline;
  padding: 10px;
  text-decoration-line: none;
  text-decoration-style: none;
  text-decoration: unset;
}

.loggedInAs {
  background-color: violet;
}

.orgs {
  width: 48%;
  height: 300px;
  float: left;
  background-color: tomato;
  margin-right: 2%;

}

.notifications {
  float: left;
  height: 300px;
  width: 48%;
  background-color: slateblue;
  margin-left: 2%;

}

.DashboardsDiv {
  width: 50%;
  background-color: yellow;
  margin: 0 auto;
}